.index-container {
  padding: 0 2rem;
}

.index-container  ul {
  width: 100%;
  margin-top: 20px;
  list-style: none;
}

.index-container ul li {
  height: 100px;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 10px;
  background-color: #F2F2F2;
}

.index-container ul li img {
  margin: auto 0;
}

.index-container ul li section {
  margin: auto 0;
}

.index-container ul li .button-to-profile {
  margin: auto 0;
  background: none;
}
