.error-container {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.error-container img {
  max-width: 170px;
}

.error-container .error-code {
  font-weight: bold;
  font-size: 40px;
}

.error-container .error-message {
  font-weight: normal;
  font-size: 24px;
}

.error-container .back-link {
  font-size: 25px;
  font-weight: bold;
  color: #BE1E2D;
  text-decoration: none;
}

.error-container .back-link .back-icon {
  vertical-align: middle;
  // margin-right: 10px;
}
